tr.zavrseno {
    background-color: #d4edda;
}

table {
    /* border: 1px solid lightgrey ; */
    color: #52057b;
}

thead {
    color: black;
    background-color: #FFEE86;
}

tbody {
    color: black;
}

th,
td {
    border-top: 1px solid #DEE2E6 !important;
}

.naslov {
    color: black;
    font-weight: bold;
    font-size: 30px;
}

#dodaj_novi {
    margin-top: 30px;
}

.dugme-brisanje {
    background-color: #DC143C !important;
    color: white !important;
}

.dugme-izmjena {
    background-color: #007BFF !important;
    color: white !important;
}

.dugme-dodaj {
    background-color: #28A745 !important;
    border: 2px solid #28A745 !important;
    color: white !important;
}

.dugme-ocisti {
    background-color: #007BFF !important;
    border: 2px solid #007BFF !important;
    color: white !important;
}

.dugme-ocisti:hover {
    background-color: #007BFF !important;
    border: 2px solid white !important;
    color: white !important;
}


/*.modal-content {*/


/*    background-color: #d4edda !important;*/


/*}*/


/*.modal-title {*/


/*    color: #00AD56 !important;*/


/*}*/


/*.close {*/


/*    color: #DC143C !important;*/


/*}*/


/* .modal-body input,
textarea {
    box-sizing: border-box;
    background-color: #d4edda !important;
    border: 0px !important;
    display: block;
    text-indent: 10px;
    color: #00AD56 !important;
    margin-bottom: 3px;
} */

.sad-face {
    color: #DC143C !important;
    font-size: 22px;
}

.happy-face {
    color: #00AD56 !important;
    font-size: 22px;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}