table{
    /* border: 1px solid lightgrey ; */
    color: #52057b;
}

thead {
    color: #00AD56;
    background-color: #393939;
}

tbody {
    color: #748080;
}

tr:hover {
    color:#00AD56 !important;
}


body {
    background-color: #222222 !important;
}

.pretraga-form input, select{
    box-sizing: border-box;
    background-color: #393939 !important;
    border: 0px !important;
    display: block;
    text-indent: 10px;
    color: #00AD56 !important;
    margin-bottom: 3px;
}

.pretraga-form input:focus{
    box-sizing: border-box;
    background-color: #393939;
    border: 0px;
    display: block;
    text-indent: 10px;
    color: #00AD56;
    margin-bottom: 3px;
}

::placeholder {
    background-color: #393939 !important;
    color: #00AD56 !important;
}

.naslov {
    color: #00AD56;
    font-size: 30px;
}

#dodaj_novi{
    margin-top: 30px;
}

.dugme-brisanje {
    color: #DC143C !important;
}

.dugme-izmjena {
    color: #306844 !important;
}

.dugme-dodaj {
    background-color: #00AD56 !important;
}

.dugme-ocisti {
    background-color: #DC143C !important;
}





