table{
    /* border: 1px solid lightgrey ; */
    color: #52057b;
}

thead {
    color: #00AD56;
    background-color: #393939;
}

tbody {
    color: #748080;
}

tr:hover {
    color:#00AD56 !important;
}


body {
    background-color: #222222 !important;
}

.pretraga-form input, select{
    box-sizing: border-box;
    background-color: #393939 !important;
    border: 0px !important;
    display: block;
    text-indent: 10px;
    color: #00AD56 !important;
    margin-bottom: 3px;
}

.pretraga-form input:focus{
    box-sizing: border-box;
    background-color: #393939;
    border: 0px;
    display: block;
    text-indent: 10px;
    color: #00AD56;
    margin-bottom: 3px;
}

::placeholder {
    color: #00AD56 !important;
}

.naslov {
    color: #00AD56;
    font-size: 30px;
}

#dodaj_novi{
    margin-top: 30px;
}

.dugme-brisanje {
    color: #DC143C !important;
}

.dugme-izmjena {
    color: #306844 !important;
}

.dugme-dodaj {
    background-color: #00AD56 !important;
}

.dugme-ocisti {
    background-color: #DC143C !important;
}

.modal-content {
    background-color: #222222 !important;
}

.modal-title {
    color: #00AD56 !important;
}

.close {
    color: #DC143C !important;
}

.modal-body input, textarea {
    box-sizing: border-box;
    background-color: #393939 !important;
    border: 0px !important;
    display: block;
    text-indent: 10px;
    color: #00AD56 !important;
    margin-bottom: 3px;
}

.modal-footer, .modal-header {
    border-color: #393939 !important;
}

.sad-face {
    color: #DC143C !important;
    font-size: 22px;
}

.happy-face {
    color: #00AD56 !important;
    font-size: 22px;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}





